<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {% load static %}
{# load the tag library #}
{% load bootstrap3 %}

{# load css and javascript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

</head>
<body>
<div class="panel panel-primary" >
<h1 align="center">Eliminar deseo</h1>
</div>

<form method="post">
    {% csrf_token %}
    <h3>¿Desea eliminar el deseo {{ deseo.deseo }}</h3>
    <button class="btn btn-danger" type="submit">Si, eliminar</button>
    <a class="btn btn-default" href="{%  url 'DeseosAduaneros:index' %}">Cancelar</a>
</form>
</body>
</html>